MONGO_URI=mongodb://localhost:27017
MONGO_DB=mada
HEADLESS=true
LOG_LEVEL=INFO

PUBLICINFOBANJIR_URL=https://publicinfobanjir.water.gov.my
PUBLICINFOBANJIR_JSON_PATH=/wp-content/themes/enlighten/data/latestreadingstrendabc.json
MET_CUACA_URL=https://www.met.gov.my
MET_CUACA_JSON_PATH=/json/cuaca_semasa/data.json
JUPEM_WATER_LEVEL_URL=https://jupem.gov.my
JUPEM_STAPS_PATH=/ms/staps
